body { font-family: Arial, Helvetica, sans-serif;}
h1 { color: blue; font-family: Georgia, 'Times New Roman', Times, serif;}
p {color:rgb(165, 135, 181); font: 10px;}
#astig {color:purple; font-size:larger}
#bakit {font-size:x-small;}
