body{
    font-family:Arial, Helvetica, sans-serif;
}

header{
    margin: 10px;
}

h1{
    background-color: #ABC8C0;
    padding: 10px;
    border-radius: 10px;
    border: medium dotted black;
}

nav{
    background-color: #b2cbb4 ;
    display:flex;
    justify-content:space-around;
    margin: none;
    padding:10px;
    border-radius: 10px;
}

nav a{
    text-decoration: none;
    background-color: azure;
    border: medium solid black;
    border-radius: 10px;
    padding:10px 20px 10px 20px;
}

.card{
    margin: 10px;
    background-color: aquamarine;
    padding: 10px;
}

h2{
    text-align: center;
}

ul{
    border:medium solid black;
    border-radius: 10px;
    padding:20px;
    background-color: azure;
}