.homeimg { background-image:url(backgrndimg.jpg);}
.current {color: black; text-decoration: none;}
header{background-image: url(phbandila.png);background-repeat: no-repeat; background-position: right;}
.list {list-style-image: url(baketbol.png);}
body {font-family:Georgia, 'Times New Roman', Times, serif; color:brown}
.underline {text-decoration: underline;}


