body{
    font-family: Arial, Helvetica, sans-serif;
}


/* Hamburger button style */
.hamburger {
  cursor: pointer;
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction:column;
  justify-content: space-around;
  background-color: #BBCEA8;
  padding:25px;
  border:thin dotted;
  border-radius: 5px;
}

.hamburger div {
  background-color: #333;
  height: 5px;
  border-radius: 10px;
}

/* Navigation links container */
.nav-links {
  display: none; /* hidden by default */
  margin-top: 10px;
}

.nav-links a {
  display: block;
  text-decoration: none;
  color: #333;
  padding: 8px 0;
}