body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:#BEE8FF;
}

.ulo{
    padding:10px 5px 10px 5px
}

span{
    text-decoration: underline red;
    color: pink;
}

header{
    background-color: #FFF6C2; 
    border-radius: 10px;
    border: 5px double black;
    margin-left: 75px; 
    margin-right: 75px;
}

h1{text-align: center; 
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.h3-index{
    text-align: center;
    font-style: italic;
    text-shadow: 8px 8px 8px grey;
    padding-bottom: 10px;
    font-size: x-large;
}

nav{
    display:flex; 
    justify-content: space-between;
    padding:10px; 
    background-color:#FFF6C2;
    border-radius:10px;
}

.current{
    background-color: #F4E76E;
}

nav a{text-decoration:none; 
    color:black;
     border:2px solid black; 
     border-radius: 10px; 
     padding:5px; 
     background-color: azure;}

nav a:hover{
    background-color: #F6D78E;
    padding: 7px;
}


/*pang index.html*/
.wrapper{ 
    display:flex;
    flex-wrap: wrap; 
    gap:10px; 
    justify-content: space-evenly;
}

.card{
    background-color:white;
    box-shadow: 2px 2px 2px rgb(112, 107, 107);
    width:90%; 
    border-radius: 10px;
    max-width:800px;
    margin: 0 auto;;
}

.summarycard{
    background-color:white;
    box-shadow: 2px 2px 2px rgb(112, 107, 107);
    border-radius: 10px;
    max-width: 900px;
    margin: 0 auto;
    padding:10px;
    height:auto;

}

img {width:100%;
    height:100%;
    border-radius: 10px; 
    border-bottom-left-radius: 0; 
    border-bottom-right-radius: 0px;
}

.sidebar{
    display:flex;
    padding: ;
    margin:25px 0 25px 0
}

aside{
 border-right:2px solid black;
 max-width: 800px;
 margin: 0 auto;
padding:10px;

}

figcaption{
text-align: center;
font-weight: bold;
}

footer{
    text-align: center;
}

.trio{
    text-align: center;
    text-decoration: underline
}

figure{
    width:50%; 
    border:2px solid grey;
    border-radius:10px;
    background-color: #FFF6C2;
    }
/*pang index.html*/



/*pang table*/
table{
    border-collapse: collapse;
    border-spacing: 0;
    max-width: 900px;
    margin: 0 auto;
}   

caption{
    padding:10px;
    border: medium solid black;
    border-radius: 10px;
    margin: 5px 50px 5px 50px;
    background-color: #7A7A7A;
    color: white;
    text-shadow: 2px 2px 2px ;
}

table thead{
    background-color: rgb(118, 118, 173); 
    color: azure;
         border: medium solid black

}

th{
  border: medium solid black;

}

 td{
     background-color: antiquewhite; 
     border: medium solid black
    

}
/*pang table*/


/*pang signupform*/
.form-row{
  display:flex; gap:10px; margin: 15px 0
}

.form-row label{
    width: 150px; text-align: right
}

.spacer{
    width: 150px;
}

.check-row{
    display: flex; 
    gap: 10px;
    
}

fieldset{
    margin: 15px 0; background-image: url(bula\ bula.jpeg);
}

legend{
    border:thin solid; background-color: azure; padding: 10px; border-radius: 10px;
}

.form-row input:not([type=submit]){
    padding:8px; border-radius: 10px; font-family: 'Times New Roman', Times, serif;background-color: #ffffff
}

.form-row input[type=submit]{
    padding:15px 10px 15px 10px; border-radius: 10px; ;
}

#message{
    text-align: center;
    font-size: xx-large;
}

label{
    color:rgb(237, 149, 237);
    font-weight: bold;
}
/*pang signupform*/

/*pang marketing page*/
.h2-marketingpage{
    text-align: center;
}

.marketing-card{
    background-color: white;
    border-radius: 10px;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding:5px 10px 5px 10px;
}

.magulang-marketingcard{
    display:flex;
    flex-wrap: wrap;
    gap:10px;
    justify-content: space-evenly;
}

.gitnain{
    text-align: center;
}
/*pang marketing page*/

@media print{
    nav{display:none}
    footer{display:none}
}

@media ONLY screen and (max-width:480px){
    nav{flex-direction: column;}
    nav a{text-align: center;}
    .sidebar{flex-direction: column-reverse;}
    aside{border:none; width:100%}
    .wrapper{border-bottom:10px double black;padding: 10px;}
    
    .form-row, .check-row {
        flex-direction: column;
    }

    table{
        width:100%;
        display:flex;
        flex-direction: column;
    }

    .form-row label, .spacer{
        text-align: left;
    }
}